.chart {
    margin: 0 0 2.5rem;
    position: relative;

    ul {
        width: 100%;
        height: 3rem;
        padding: 0 0 1px;
        list-style: none;
        position: relative;

        gap: 1px;
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        flex-direction: row;

        border-bottom: 1px solid var(--color-light-grey);
    }

    li {
        cursor: pointer;
        flex: 1 1 0;
        max-width: calc((100% - 59px) / 60); // 60 items + 59 gaps
        background: var(--color-light-grey);
        clip-path: polygon(0% calc(100% * (1 - var(--start))), 100% calc(100% * (1 - var(--end))), 100% 100%, 0% 100%);

        &:first-child {
            display: none;
        }
    }

    small {
        display: flex;
        justify-content: center;
        color: var(--color-grey);
        line-height: 3rem;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
