.divider {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        color: var(--color-grey);
    }

    strong {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &.hidden {
            pointer-events: none;
            -webkit-text-security: disc;
        }
    }

    div {
        gap: 0.75rem;
        display: flex;
        align-items: center;

        &:first-of-type {
            max-width: calc(100% - 63px);
        }
    }

    button {
        width: 1.2rem;
        cursor: pointer;

        @media (hover: hover) {
            .arrow:hover {
                border-color: var(--color-front);
            }
            .eye:hover {
                &,
                &::before {
                    border-color: var(--color-front);
                }
                &::after {
                    background-color: var(--color-front);
                }
            }
        }
    }

    .arrow {
        top: -1px;
        position: relative;
        border: solid var(--color-grey);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 6px;
        transform-origin: center;
        transition:
            transform 250ms,
            border-color 250ms;

        &.up {
            transform: rotate(-135deg);
            top: 6px;
        }
        &.down {
            transform: rotate(45deg);
        }
    }

    .eye {
        width: 1rem;
        height: 1rem;
        border: solid 2px var(--color-grey);
        border-radius: 75% 35%;
        position: relative;
        transform: rotate(45deg);
        display: block;

        &,
        &::before {
            transition: border-color 250ms;
        }
        &::after {
            transition: background-color 250ms;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 4px;
            height: 4px;
            border: solid 2px var(--color-grey);
            border-radius: 50%;
            left: 2px;
            top: 2px;
        }

        &.hidden::after {
            content: "";
            top: 0.3rem;
            left: -0.25rem;
            position: absolute;
            width: 1.25rem;
            height: 2px;
            background-color: var(--color-grey);
            transform: rotate(-90deg);
        }
    }
}
