footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    border-bottom: 1rem solid var(--color-pool);
    background: hsl(from var(--color-back) h s calc(l - 2));

    .progress {
        height: 1px;
        width: 100%;
        background-color: var(--color-light-grey);
        transition: width 1s linear;
        will-change: width;
    }

    .wrapper {
        height: 2.5rem;
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    img,
    svg {
        display: block;
    }

    .logo {
        display: flex;
        position: relative;
        top: 0.75rem;
        left: -0.85rem;

        figcaption {
            font-size: 0.85rem;
            letter-spacing: 0.1rem;
            position: relative;
            top: 0.75rem;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        p {
            font-size: 0.75rem;
            display: flex;
            flex-direction: column;
            align-items: end;
        }

        span {
            color: var(--color-grey);
            pointer-events: none;
        }

        svg {
            fill: var(--color-grey);
        }
    }

    .switch {
        width: 2rem;
        height: 1.25rem;
        cursor: pointer;
        background-color: var(--color-grey);
        border-radius: 2rem;
        position: relative;

        figure {
            height: 1rem;
            width: 1rem;
            left: 0.125rem;
            top: 0.125rem;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--color-back);
            border-radius: 50%;
            transition: 0.25s;

            svg {
                width: 0.75rem;
                height: 0.75rem;

                &:first-child {
                    display: block;
                }
                &:last-child {
                    display: none;
                }
            }

            [data-theme="dark"] & {
                transform: translateX(0.75rem);

                svg {
                    &:first-child {
                        display: none;
                    }
                    &:last-child {
                        display: block;
                    }
                }
            }
        }
    }

    .github {
        svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}
