footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    border-bottom: 1rem solid var(--color-pool);
    background: hsl(from var(--color-back) h s calc(l - 2));

    .progress {
        height: 1px;
        width: 100%;
        background-color: var(--color-light-grey);
        transition: width 1s linear;
        will-change: width;
    }

    .wrapper {
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    figure {
        display: flex;
        padding: 0.5rem 0 0;
    }

    figcaption {
        font-size: 0.85rem;
        letter-spacing: 0.1rem;
        margin: 0.75rem 0 0;
    }

    span {
        font-size: 0.8rem;
        color: var(--color-grey);
    }
}
