footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    border-bottom: 1rem solid var(--color-pool);
    background: hsl(from var(--color-back) h s calc(l - 2));

    .progress {
        height: 1px;
        width: 100%;
        background-color: var(--color-light-grey);
        transition: width 1s linear;
        will-change: width;
    }

    .wrapper {
        height: 2.5rem;
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    img,
    svg {
        display: block;
    }

    figure {
        display: flex;
        position: relative;
        top: 0.75rem;

        figcaption {
            font-size: 0.85rem;
            letter-spacing: 0.1rem;
            position: relative;
            top: 0.75rem;
        }
    }

    div {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        p {
            font-size: 0.75rem;
            display: flex;
            flex-direction: column;
            align-items: end;
        }

        span {
            color: var(--color-grey);
            pointer-events: none;
        }
    }

    svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: var(--color-grey);
        transition: fill 250ms;

        &:hover {
            fill: var(--color-front);
        }
    }
}
