.loader {
    width: 100%;
    height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        width: 1.5rem;
        aspect-ratio: 1;
        border-radius: 50% 50%;
        background: var(--color-grey);
        box-shadow: 0 0 0 0 var(--color-light-grey);
        animation: pulse 1s ease-in-out infinite;
    }
}

@keyframes pulse {
    100% {
        box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0.1);
        opacity: 0;
    }
}
