.message {
    width: 100%;
    height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    strong {
        text-align: center;
        margin-bottom: 1rem;

        &.warn {
            color: var(--color-orange);
        }
        &.error {
            color: var(--color-red);
        }
    }

    table {
        td {
            &:first-child {
                color: var(--color-grey);
                padding-right: 1rem;
            }

            code {
                font-size: 0.85rem;
            }
        }
    }
}
