.stepper {
    width: 30rem;
    max-width: 100%;
    padding: 0 2rem;
    margin: calc(50vh - 1.75rem) auto 0;
    transform: translateY(-50%);
    gap: 2rem;
    justify-content: center;
    flex-direction: column;

    &,
    ul,
    li,
    li::before {
        display: flex;
        align-items: center;
    }

    .steps {
        width: 100%;
        padding: 0 2rem;
        list-style: none;
        counter-reset: list-number;

        hr {
            flex: 1 1 0;
            margin: 0 1rem;
            height: 0.125rem;
            border: 0;
            background: var(--color-light-grey);
            transition: background-color 250ms;
        }

        li {
            color: var(--color-grey);

            &::before {
                counter-increment: list-number;
                content: counter(list-number);
                margin-right: 0.5rem;
                width: 2rem;
                height: 2rem;
                border: 0.125rem solid var(--color-light-grey);
                border-radius: 50%;
                justify-content: center;
                transition: border-color 250ms;
            }

            &:first-child {
                color: var(--color-front);
                flex: 1 1 auto;
                transition: color 250ms;

                &::before {
                    border-color: var(--color-front);
                }
            }
        }
    }
    
    .panel {
        width: 100%;
        padding: 1.85rem 2rem 2rem;
        border: 1px solid var(--color-light-grey);
        border-radius: 0.5rem;

        li {
            width: 100%;
            display: flex;
            flex-direction: column;

            &:first-child {
                p {
                    text-align: center;
                    color: var(--color-grey);
                }
            }

            &:last-child {
                display: none;
            }
        }

        h3 {
            width: 100%;
            font-size: 1.2rem;
            text-align: center;
            margin: 0 0 1rem;
        }

        table {
            td {
                &:first-child {
                    color: var(--color-grey);
                    padding-right: 1rem;
                }
    
                code {
                    font-size: 0.85rem;
                }
            }
        }
    }

    &[data-step="2"] {
        .steps {
            li:last-child {
                color: var(--color-front);

                &::before {
                    border-color: var(--color-front);
                }
            }

            hr {
                background-color: var(--color-front);
            }
        }

        .panel {
            li {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: flex;
                }
            }
        }
    }
}
