.user {
    margin: 1rem 0;

    table {
        width: 100%;
        margin: 1.5rem 0;
        border-collapse: collapse;
    
        @media (max-width: 1023px) {
            overflow-x: auto;
            display: block;
        }
    }
    
    tr {
        &:first-child th {
            font-size: 1.2rem;
        }
        &:not(:first-child) th {
            color: var(--color-grey);
            font-size: 1rem;
            font-weight: normal;
            text-align: right;
        }
        &:last-child td {
            padding-top: 1rem;
            border-top: 1px solid var(--color-light-grey);
        }
        &:not(:first-child) th,
        td {
            &:last-child {
                padding-right: 0;
            }
        }
    }
    
    th,
    td {
        padding: 0.5em;
        white-space: nowrap;

        &:first-child {
            padding-left: 0;
            text-align: left !important;
        }
    }
    td {
        font-family: "Barlow", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: right;
    
        > span {
            color: var(--color-grey);
            font-size: 1rem;
            padding-left: 0.2rem;
        }
    }
}