.tooltip {
    position: absolute;
    transform: translate(-50%);
    background: var(--color-light-grey);
    color: var(--color-front);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;
    font-size: 0.75rem;
    z-index: 999;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -0.25rem;
        border-width: 0.25rem;
        border-style: solid;
        border-color: var(--color-light-grey) transparent transparent transparent;
    }
}
